:root {
  --main-bg: #3c3836;
  --secondary-bg: #fbf1c7;
  --item-bg: #d9d9d9;
  --accent: #83a598;
  --accent-secondary: #fb4934;
  --font-primary: #fbf1c7;
  --font-secondary: #736a59;
}

* {
  transition: 0.3s ease-in-out;
  font-size: 24px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-bg);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 100px;
  max-height: 10%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  color: var(--font-primary);
  background-color: var(--main-bg);
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #3c3836;
  margin-top: 0;
  margin-bottom: 5%;
  margin-right: 10%;
  align-self: flex-end;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 0% 7%;
}

ul > li > a {
  color: var(--font-primary);
  list-style-type: none;
  text-decoration: none;
}

.nav-item:hover {
  transform: scale(1.5);
}

.nav-item > a:hover {
  color: var(--accent-secondary);
}

.primary-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 80%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

h3 {
  font-size: 1.2rem;
}

.primary-info > h2 {
  margin-bottom: 5%;
}

svg {
  height: 10%;
  width: 50%;
}

.logo {
  margin-bottom: 2%;
}

.svg-primary .svg-secondary .svg-tertiary {
  fill: #fbf1c7;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.social-links > a {
  margin: 0 10%;
  width: 60%;
}

.svg {
  height: 100%;
  transition: 250ms ease-in-out;
}

.svg:hover {
  transform: scale(1.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pointDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-60%);
  }
}

.svg-secondary {
  animation: fadeIn 1s infinite alternate;
  fill: var(--accent);
}

.scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  align-items: center;
  animation: pointDown 1s infinite alternate;
  margin-top: 20%;
}

.scroll > svg {
  height: 60%;
  width: 10%;
}

.scroll > p {
  font-size: 12px;
}
.scroll-primary {
  fill: var(--accent);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
  background-color: var(--secondary-bg);
  color: var(--font-secondary);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.about-me > p {
  margin-bottom: 5%;
  max-width: 60%;
}

.black-space {
  width: 100%;
  background-color: var(--main-bg);
  margin: 2% 0%;
}

.abilities {
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 60%;
  width: 80%;
  background-color: var(--accent);
  border-radius: 10px;
  margin: -5% auto 20px auto;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.abilities * {
  border-radius: 5px;
}

.abilities > .item {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--item-bg);
  margin: 5%;
  text-align: center;
}

.abilities > .item > h3 {
  color: var(--font-secondary);
}

.item > ul {
  margin: none;
  padding: 0;
  color: var(--font-secondary);
  margin: 0%;
}

.item > ul > li {
  margin: 5%;
}

.item > ul > li:hover {
  transform: scale(1.2);
  color: var(--accent-secondary);
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: var(--accent);
  border-radius: 5px;
  margin: 5% auto -5% auto;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 2% 1%;
}

.projects__item > p {
  font-size: 1.3rem;
  font-weight: bolder;
}

.projects__item__image {
  height: 300px;
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  transition: all ease-in 0.3s;
}

.projects__item__image:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
}
.blurred {
  filter: blur(5px);
}

/* Resize images */
.projects__item__image > a > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.projects__item__buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:2%
}

.projects__item__buttons>a{
  margin:10px;
}

.projects__item__buttons> a > button{
  background-color: var(--item-bg);
  color: var(--font-secondary);
  border: none;
  border-radius:5px;
  margin: 5px;
  padding:5px 10px;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.projects__item__buttons> a > button:hover{
  transform: scale(1.2);
  background-color: var(--accent-secondary);
  color: #d9d9d9;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--secondary-bg);
  padding: 5%;
  color: var(--font-secondary);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.footer>p>a{
  text-decoration: double;
  color: var(--accent-secondary);
  font-weight: bold;
}

.footer>p>a:hover{
  font-size: 1.2rem;
  color: var(--accent-secondary);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media screen and (max-width: 850px) {
  * {
    font-size: 20px;
  }

  .nav-item {
    margin: 2%;
  }

  .abilities {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 20%;
  }

  .abilities > .item {
    width: 80%;
    padding: 5%;
  }

  .about-me > p {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 5%;
  }

  .projects__item {
    flex-direction: column;
    width: 100%;
    margin: 1%;
  }

  .projects__item__image {
    width: 80%;
    height: 300px;
  }

  /* Resize images */
  .projects__item__image > a > img {
    width: 100%;
    height: 100%;
  }
}
